<!DOCTYPE html>
<html>
  <body>
    <style>
      body { 
    background-image: url('http://s32.postimg.org/l57y00ks5/IMG_2636.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
      }
    h1 {
      color: #B2B2B2;
      font-family: "Helvetica";
      font-size: 20px;
      text-align: center;
      padding: 100px;
    }
    h2 {
      color: #E5E5E5;
      font-family: "Georgia";
      font-size: 10px;
      text-align: center;
    }
    </style>
    
    <h1>IN PROGRESS</h1>
    
  </body>
</html>
